{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cva", "cx", "cn"],
  "tailwindAttributes": ["cn", "class", "className"],
  "overrides": [
    {
      "files": ["*.html", "*.html.ts"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
